{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Stardist Cluster{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Stardist Cluster</h1>
    <div class="list-group-item">
        <p>This application allows you to create the configuration files to run stardist on the <a href="https://www.urz.uni-heidelberg.de/en/bwforcluster">bwForCluster MLS&WISO</a>.</p>
        <p> Two files are generated:</p>
         <ul>
            <li>a moab configuration file</li>
            <li>a sh script</li>
          </ul>
        <p> On the creation of these files are copied to the node and then submitted to the cluster. The input and output directories must exist, and the input images in <b>tiff</b> format must be located the input directory beforehand. SDS directories can be specified if mounted in the instance.</p>
    </div>
    <h2>{% if name %}The current loaded setup is '{{ name }}' {% else %}Currently, there is not setup loaded. Default values are used.{% endif %}!</h2>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
