{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Stardist Cluster{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Setup of the training scripts for the cluster.</h1>
    <h2>{% if name %}The current loaded setup is '{{ name }}' {% else %}Currently, there is not setup loaded. Default values are used.{% endif %}!</h2>
    <div id="loading"><img src='../static/stardist_logo.jpg' alt="Stardist Logo" width="120" height="120"></div>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
